<div class="row marketing">

    <div class="col-md-12">
    	<h2>{{name}}<h2>
    	<h4>{{info}}<h4>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Command</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="c in commands">
                <td>
                    <h4><input type="text" ng-model="c.command" placeholder="Command Expression"/> </h4>
                </td>
                <td><input type="text" ng-model="c.description" placeholder="Command Description" /> </td>
            </tr>
	    <tr><td colspan="2" > <button ng-click="addCommand()">Add</button>
            </tbody>
        </table>
	<button ng-click="save()">save</button>
    </div>
</div>


