<div class="row marketing">

    <div class="col-md-12">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Command</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="c in commands">
                <td>
                    <h4><a href="#/command/{{c.name}}">{{c.name}}</a></h4>
                </td>
            </tr>
            </tbody>
        </table>
	<input type="text" ng-model="newcommand" /> <a href="#/command/{{newcommand}}" >new</a>
    </div>
</div>


